/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
    background-color: #E8E8E8;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #E8E8E8;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==============================
   Youth Radio Classes
   ============================== */

.list {
    float: left;
    min-width: 250px;
    width: 50%;
}

.list h1 {
    background-color: #3ebec0;
    color:white;
    font-size: 1.1em;
    font-weight: 800;
    padding-right: 10px;
}

.list ul {
    list-style: square;
}

.list ol {
    list-style: decimal-leading-zero;
}

.list li {
    /* border-left: 1px solid red; */
    padding-left: 5px;
}

.centre {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.some{
  position:absolute;
  top:130px;
}

/* ==============================
   Youth Radio Header Styles
   ============================== */
#yr_header {
    width: 100%; 
    text-align: center;
}

#yr_header #yr_status_bar {
    background: #000000; 
    width: 100%; 
    color: #FFFFFF; 
    text-align: left; 
    font-size: .75em; 
    font-weight: 800;
    display: block;
}

#yr_header table {
    width: 100%;
}

#yr_header td {
    padding-right: 5px;
    padding-left: 5px;
}

h1 {
    display: block;
    background: #3ebec0;
    font-size: 1.1em;
    font-weight: 800;
    padding-right: 10px;
    color:#3ebec0;
}

#error_messages {
    width: 100%;
    border-top: 1px solid #9ABD4B;
}
/* ==============================
   Youth Radio Navigation Bar 
   ============================== */
#yr_nav img {
  position:absolute;
  left: 40px;
  top:20px;
}

#yr_nav p{
  color:#3ebec0;
  font-size: 40px;
  position:absolute;
  top:-15px;
  left:160px;

}

#yr_nav table{
  width:940px;
  background: white;
  border-color: white;
  padding: 5px;
  position:absolute;
  top:76px;
  left:160px;
  text-align: center

}

#yr_nav td{
  color:white;
  background-color: #3ebec0;
  padding: 5px;
  border-color: white;
  border: 3px;
}


/* ==============================
   Youth Radio Containers
   ============================== */

#list_container {
    display: block;
    width: 100%;
}

/* ==============================
   People List
   ============================== */

#people_list {
    display: block;
    width: 100%;
}

#people_list table {
    width: 100%;
}

#people_list th {
    text-align: left;
    border-bottom: 1px solid black;
}

#people_list td {
    text-align: left;
    border-bottom: 1px dotted black;
}

/* ==============================
   department List
   ============================== */

#department_list {
    display: block;
    width: 100%;
}

#department_list table {
    width: 100%;
}

#department_list th {
    text-align: left;
    border-bottom: 1px solid black;
}

#department_list td {
    text-align: left;
    border-bottom: 1px dotted black;
}

/* ==============================
   Metrics
   ============================== */

#lifetime_graph_container, 
#recent_graph_container {
    float: left;
    width: 100%;
}

#chart_recent_total_listeners, 
#chart_last24hours_total_listeners, 
#chart_last7days_total_listeners {
    min-width: 400px; 
    height: 400px; 
    margin: 0 auto;
}

#chart_bounce_rate, 
#chart_total_numbers,
#chart_current_sessions,
#stats_container {
    float: left;
    width: 275px;
    height: 275px;
    margin: 0 auto;
}

#stats_container {
    border-left: 1px dashed black;
    margin-left: 6px;
    padding-left: 6px;
}

#stats_container p {
    /* border-top: 1px solid black;
    border-bottom: 1px solid black; */
    padding-bottom: 4px;
    padding-top: 4px;
    margin: 0px;
    font-size: 0.75em;
}

#stats_container span {
    background: #3ebec0;
    color: white;
    font-style: italic;
    font-weight: bold;
}

/* ==============================
   Forms
   ============================== */

/* Style the input placeholders for forms */
#form_container ::-webkit-input-placeholder { font-style: italic; font-weight: lighter; }
#form_container ::-moz-placeholder { font-style: italic; font-weight: lighter; } /* firefox 19+ */
#form_container :-ms-input-placeholder { font-style: italic; font-weight: lighter; } /* ie */
#form_container input:-moz-placeholder { font-style: italic; font-weight: lighter; }

#form_container {
    margin-top: 2em;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 2px;
    width: 99%;
}

#form_container p {
    margin-left: 2em;
    margin-right: 2em;
}

#form_container 
input, 
textarea,
select {
    border: 2px solid #e5eae4;
    background: #fdfdfd;
    position: relative;
    font-size: 24px;
    font-family: sans-serif;
    color: #2e2e2e;
    padding-left: 0.5em;
    padding-right: 0.5em;
    margin-right: 0.5em;
}

#form_container
.styled-select {
   width: 240px;
   height: 100%;
   overflow: hidden;
   background: url(/static/img/down_arrow_select.jpg) no-repeat right #ddd;
   border: 1px solid #ccc;
   display: inline-block;
}

#form_container
.styled-select select {
   background: transparent;
   width: 268px;
   font-size: 24px;
   padding: 4px;
   line-height: 1;
   border: 0;
   border-radius: 0;
   height: 100%;
   -webkit-appearance: none;
   font-weight: lighter;
}

#form_container
.explain {
    font-style: italic; 
    font-weight: lighter;
    font-size: 24px;
}

/* ==============================
   Daily List Form
   ============================== */


  .DL{
    background-color: white;
    font-family: sans-serif;
  }

  #dailyList textarea {
    font-size: 13px;
    height: 80px;
  }


  #DLheader {
    background-color: white;
    border-color: #E8E8E8;
    padding: 3px;
    width: 1025px;
    height: 120px;
   }

   #DLheader h1{
    position: absolute;
    top: 1%;
    left: 3.25%;
    background-color: white;
    font-size: 26px;
   }

  #DLheader img{
    position: absolute;
    top:3.5%;
    
   }

  #DLheader input{
    position: absolute;
    top:20%;
    left: 28% ;
    
   }


   #DLnews{
    background-color: white;
    border-color: #E8E8E8;
    border: 14px;
    padding: 3px;
    width: 250px;
    position: absolute;
    left: 30px;
    top: 60px;

   }

  #DLnews h2,  #DLyr h2, #DLassn h2 {
    color:white;
    background-color: #3ebec0;
    border: 3px;
    border-color: white;


  }

  #DLnews textarea {
    width: 220px;
  }
  
  #DLyr{
    background-color: white;
    border-color: #E8E8E8;
    padding: 3px;
    width: 250px;
    position: absolute;
    left: 290px;
    top: 60px;

   }

  #DLyr textarea{
    width: 220px;
  }
  

   #DLassn{
    background-color: white;
    border-color: #E8E8E8;
    padding: 3px;
    width: 53%;
    position: absolute;
    left: 550px;
    top: 60px;

   }

  #DLassn textarea{
    width: 98%;
  }

  .left{
    width: 45%;
  }

  .right{
    position: absolute;
    top: 200px;
    left: 270px;
    width: 50%;
  }

  .dImg {
    height: 20px;
    width: 20px;
  }

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
