{% extends "base.html" %}
{% block title %}{{ title }} - Youth Radio Central{% endblock %}
{% block head %}
{{ super() }}
        <script src="/static/js/jquery.autoSave.js"></script>
{% endblock %}
{% block left_status %}{% endblock %}
{% block right_status %}Welcome, {{ user.name }}{% endblock %}

{% block page_content %}

<!-- <body class="DL"> //-->

 <form action='{{ url_for("newsroom_dailylist_preview") }}' id="dailyList" method="post">
	
	<div id="DLheader"> 
    <h1>Rebecca's Daily List</h1>
  	<input type="submit" value="Preview" />
	</div>

	<div id="DLnews">
		<h2> In the News </h2>
		<input type="text" id="newslink"> 
		<input type="button" value="add" id="newsclick"/>
    <ul id="story_list">
    </ul>

		<h2> Announcements </h2>
		<textarea rows="3"  name="ann"></textarea> 
	</div>

	<div id="DLyr">
		<h2> Today's Round Up </h2>

        <p> YouthRadio.org </p> 
        <textarea rows="3" name="yr"></textarea>
         
        <p> Player </p> 
        <textarea rows="3"  name="player"></textarea>
            
        <p> Podcast</p> 
        <textarea rows="3"  name="YRP"></textarea>
            
        <p> Turnstyle News </p>
        <textarea rows="3"  name="tn"></textarea> 
            
        <p> All Day Play </p> 
        <textarea rows="2"   name="adp"> </textarea> 
        
        <p> Huffington Post </p> 
        <textarea rows="3"  name="HP"></textarea>
            
        <p> Social Media </p>
        <textarea rows="3"  name="SM"></textarea>
    </div>

    <div id="DLassn">
        <h2> Assignments </h2>
    	<p>Newsroom</p> 
    	<textarea rows="3"  name="Nr"></textarea>

    	<p> Brett </p>
    	<textarea rows="3"  name="bm"></textarea>

    	<p> Denise </p>
    	<textarea rows="3"  name="dt"></textarea>

    	<p> Robyn </p>
    	<textarea rows="3"  name="rg"></textarea>

    	<p> Ike </p>
    	<textarea rows="3"  name="is"></textarea>

    	<p> Nishat</p>
    	<textarea rows="3"  name="nk"></textarea>

    	<p> Noah </p>
    	<textarea rows="3"  name="nn"></textarea>

    	<p> Teresa</p>
    	<textarea rows="3"  name="tc"></textarea>

    	<p> Chaz</p>
    	<textarea rows="3"  name="ch"></textarea>

    	<p> Ellin</p>
    	<textarea rows="3"  name="eol"></textarea>

    	<p> Rebecca </p>
		<textarea rows="3"  name="rm"></textarea>

    	<p> Lissa </p>
    	<textarea rows="3"  name="ls"></textarea>

    	<p> Asha </p>
    	<textarea rows="3"  name="ar"></textarea>

    	<p> Kurt </p>
    	<textarea rows="3"  name="kc"></textarea>
    	
    	<p> Brandon <p>
    	<textarea rows="3"  name="bmf"></textarea>
    	
    	<p> Interns </p>
    	<textarea rows="3"  name="interns"></textarea>

    	<p> Other <p> 
    	<textarea rows="3"  name="other"></textarea>

    </div>

<input id="compiled_news_links" name="news" type="hidden" />

</form>

{% endblock %}
{% block page_bottom %}
{{ super() }}

<script type="text/javascript">
var newslink = $('#newslink')
var newsclick = $('#newsclick')

  // Event handler for submitting the form...
  // Need to compile everything from the news links in to a form field.
  $('#dailyList').on('submit', function(event) {
    
    if ( $( event.target ).is() ) {};
    var linkText = "<ul>\n";

    $('#story_list li').each(function(index) {
      linkText = linkText + "<li>" + $(this).html() + "</li>\n"
    });

    linkText = linkText + "</ul>\n";

    $('#compiled_news_links').val(linkText);
  });

  // Event handler for adding a link...
  $('#newsclick').on("click", function (event) {
    $.get(
      '{{ url_for("ajax_getPageTitleForDailyList") }}',
      { url: newslink.val() }
    ).done(function(page) {
      // Convert this to JSON
      pageInfo = jQuery.parseJSON(page)

      // Add to the LI
      link = '<a href ="' + pageInfo.url + '" target="_blank">' + pageInfo.title + '</a>';
      deleteImage = '<img class="dImg" src="/static/img/delete.png">';
      $('#story_list').append('<li>' + link + deleteImage + '</li>');
      $('#story_list li img').removeClass('dImg').addClass('dImg');

      // Event handler for deleting a link...
      $('.dImg').on('click', function (event) {
        $(this).parent().remove();
      })

      // Clear the input box
      newslink.val('');
    });
  });

  if (localStorage) {
    $('#dailyList :input').each(function() {
      var self = $(this);
      var name = self.attr('name');
      console.log("Loading saved content for " + name);
      var content = localStorage.getItem(name);
      if (content) {
        console.log("Found saved content for " + name);
        self.text(content);
      }
    });
  }

  $('#dailyList :input').each(function() {
    var self = $(this);
    self.autoSave(function() {
      var time = new Date().getTime();
      console.log("Draft Autosaved for " + self.attr('name') + " at " + time);
    }, self.attr('name'), 500);
    console.log(localStorage.getItem(self.attr('name')));
  });

</script>

{% endblock %}
