<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ title }}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <link rel="stylesheet" href="/static/css/normalize.css">
        <link rel="stylesheet" href="/static/css/main.css">
        <script src="/static/js/vendor/modernizr-2.6.2.min.js"></script>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.9.1.min.js"><\/script>')</script>
        <script src="/static/js/plugins.js"></script>
        <script src="/static/js/main.js"></script>

        <script src="/static/js/highcharts/highcharts.js"></script>
        <script src="/static/js/highcharts/highcharts-more.js"></script>
        <script src="/static/js/highcharts/modules/exporting.js"></script>

        <script src="/static/js/date.js"></script>

        <script type=text/javascript>
          $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
        </script>

        <script type="text/javascript">
/***
 * roundNumber()
 *  A simple function to round a decimal to a specified
 *  number of decimal places.
 *
 *  Arguments: number to round, number of decimal places
 *  Returns: a float
 ****/
function roundNumber(number, decimals) {
    var newnumber = new Number(number+'').toFixed(parseInt(decimals));
    return parseFloat(newnumber);
};

/***
 * hashCode()
 *  A simple function to determine a quick hash of a string.
 *
 *  Returns: a 32 bit integer
 ****/
String.prototype.hashCode = function(){
    var hash = 0, i, char;
    if (this.length == 0) return hash;
    for (i = 0; i < this.length; i++) {
        char = this.charCodeAt(i);
        hash = ((hash<<5)-hash)+char;
        hash = hash & hash; // Convert to 32bit integer
    }
    return hash;
};
        </script>

        <script type="text/javascript">
/***
 * Update current song playing via ajax method that fires
 * every 30 seconds.
 ****/
$(document).ready(function() {
    if ( $("#songs li").length ) {
        setInterval(function() {
            // Get the total listening sessions...
            $.ajax($SCRIPT_ROOT + '/_getCurrentPlayingSong')
             .done(function (result) {
                current_song = result['song'];
                //console.log("Current Song: " + current_song + " (" + current_song.hashCode() + ")");
                if (current_song.hashCode() != $('#songs li:first').text().hashCode()) {
                    $('<li>' + current_song + '</li>').insertBefore("#songs li:first");
                    $('#songs li').last().remove();
                } else {
                    //console.log("Already playing song: " + current_song);
                }
              })
             .fail(function (result) {
                console.log("Get Current Song - Failing Gracefully: " + result)
              });
        }, 30000);

    }
});

/***
 * Update the average listening time once every 5 minutes.
 ****/
$(document).ready(function() {
    setInterval(function() {
        $.ajax($SCRIPT_ROOT + '/_getAvgSessionListeningTime')
         .done(function (result) {
            overall_avg = result['Overall'];
            $('#avg_listening_time span').text(roundNumber(overall_avg, 2));
         })
         .fail(function (result) {
            console.log("Get Average Listening Time - Failing Gracefully: " + overall_avg);
        });
    }, 60000);
});

/***
 * Get the total listening hours updated every minute.
 ****/
$(document).ready(function() {
    setInterval(function() {
        $.ajax($SCRIPT_ROOT + '/_getTotalListenerHours')
         .done(function (result) {
            total_listener_hours = result['Total'];
            $('#listener_hours span').text(roundNumber(total_listener_hours, 2));
         })
         .fail(function (result) {
            console.log("Get Total Listener Hours - Failing Gracefully: " + total_listener_hours);
        });
    }, 60000);
});

/***
 * Get the average listening sessions per user updated every 5 minutes.
 ****/
$(document).ready(function() {
    setInterval(function() {
        $.ajax($SCRIPT_ROOT + '/_getAvgListeningSessionsPerUser')
         .done(function (result) {
            sessions_per_user = result['Result'];
            $('#sessions_per_user span').text(roundNumber(sessions_per_user, 2));
         })
         .fail(function (result) {
            console.log("Get Sessions Per User - Failing Gracefully: " + sessions_per_user);
        });
    }, 60000);
});


        </script>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->
        <div id="yr_header">
            <div id="yr_status_bar">
                <table>
                    <tr><td align="left">( Metrics Server: {{ server_url }} )</td><td align="right">Welcome, {{ user.name }}</td></tr>
                </table>
            </div>
            <img src="/static/img/YR_final_large.jpg" style="margin: 0px; width: 1000px;" />
        </div>

        <div id="list_container">
            <div class="list">
                <h1>Last {{ songs|length }} Songs Played</h1>
                <ol id="songs">
                    {% for song in songs %}
                    <li>{{ song|safe }}</li>
                    {% endfor %}
                </ol>
            </div>

            <div class="list">
                <h1>Realtime Stats</h1>
                <div id="chart_current_sessions"></div>
            </div>
        </div>

        <div id="lifetime_graph_container">
            <h1>Lifetime Dashboard</h1>
            <div id="chart_total_numbers"></div>
            <div id="chart_bounce_rate"></div>
            <div id="stats_container">
                <p id="listener_hours"><b>Total Listener Hours:</b> <span>{{ lifetime_stats['Total Listener Hours'] }}</span> hours</p>
                <p id="avg_listening_time"><b>Avg Session Listening Time:</b> <span>{{ lifetime_stats['Average Session Listening Time'] }}</span> minutes</p>
                <p id="sessions_per_user"><b>Listening Sessions per User:</b> <span>{{ ((lifetime_stats['Total Listening Sessions (Including Bounced)'] - lifetime_stats['Total Bounced (Listened for under 1 minute)']) / lifetime_stats['Total Unique Listeners'])|round(2, 'common') }}</span></p>
            </div>
        </div>
        <div id="recent_graph_container">
            <h1>Recent</h1>
            <div id="chart_recent_total_listeners"></div>
            <div id="chart_last24hours_total_listeners"></div>
            <div id="chart_last7days_total_listeners"></div>
        </div>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src='//www.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));
        </script>

        <!-- Set up the charts -->
        <script type="text/javascript">

$(function () {
        Highcharts.setOptions({                                            
            // This is for all plots, change Date axis to local timezone
            global : {
                useUTC : false
            }
        });

        // Radialize the colors
        Highcharts.getOptions().colors = Highcharts.map(Highcharts.getOptions().colors, function(color) {
            return {
                radialGradient: { cx: 0.5, cy: 0.3, r: 0.7 },
                stops: [
                    [0, color],
                    [1, Highcharts.Color(color).brighten(-0.3).get('rgb')] // darken
                ]
            };
        });
        
        // Build the chart
        $('#chart_bounce_rate').highcharts({
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false,
                animation: Highcharts.svg,
                events: {
                    load: function() {
                        // set up the updating of the chart
                        var series = this.series[0],
                            bounced_sessions = series.points[0],
                            listening_sessions = series.points[1];
                        setInterval(function() {
                            // Get the total listening sessions...
                            $.ajax($SCRIPT_ROOT + '/_getOverallTotalListeningSessions')
                             .done(function (result) {
                                //alert("success");
                                bounced_sessions.update(['Bounced Sessions', result['All']['Bounced']]);
                                listening_sessions.update(['Listening Sessions', result['All']["Total"] - result['All']['Bounced']]);
                              })
                             .fail(function (result) {
                                //alert("error " + result + " " + textStatus);
                                console.log("Bounce Rate - Failing Gracefully: " + result)
                              });
                        }, 60000);
                    }
                }
            },
            title: {
                text: 'Overall Bounce Rate'
            },
            tooltip: {
                percentageDecimals: 2
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: true,
                        color: '#000000',
                        inside: true,
                        connectorColor: '#000000',
                        formatter: function() {
                            return roundNumber(this.percentage, 2) +'%';
                        }
                    },
                    size: "75%",
                    showInLegend: true,
                    colors: ['#9ABD4B', '#000000']
                }
            },
            series: [{
                type: 'pie',
                name: 'Total',
                data: [
                    ['Bounced Sessions', {{ lifetime_stats['Total Bounced (Listened for under 1 minute)'] }} ],
                    ['Listening Sessions', {{ lifetime_stats['Total Listening Sessions (Including Bounced)'] - lifetime_stats['Total Bounced (Listened for under 1 minute)'] }} ]
                ]
            }]
        });

        $('#chart_total_numbers').highcharts({
            chart: {
                type: 'bar',
                animation: Highcharts.svg,
                events: {
                    load: function() {
                        // set up the updating of the chart
                        var series = this.series[0],
                            listening_sessions = series.points[0],
                            unique_listeners = series.points[1];
                        setInterval(function() {
                            // Get the total listening sessions...
                            $.ajax($SCRIPT_ROOT + '/_getOverallTotalListeningSessions')
                             .done(function (result) {
                                //alert("success");
                                listening_sessions.update(result['All']["Total"] - result['All']['Bounced']);
                              })
                             .fail(function (result) {
                                //alert("error " + result + " " + textStatus);
                                console.log("Overall Sessions Total - Failing Gracefully: " + result)
                              });

                            // Get the overall unique users...
                            $.ajax($SCRIPT_ROOT + '/_getOverallUniqueListeners')
                             .done(function (result) {
                                //alert("success");
                                unique_listeners.update(result["Total"]);
                              })
                             .fail(function (result) {
                                //alert("error " + result + " " + textStatus);
                                console.log("Unique Listeners Total - Failing Gracefully: " + result)
                              })

                        }, 60000);
                    }
                }
            },
            colors: ['#9ABD4B', '#000000'],
            title: {
                text: 'Overall Numbers'
            },
            xAxis: {
                categories: ['Total<br />Listening<br />Sessions', 'Total<br />Unique<br />Listeners'],
                title: {
                    text: null
                }
            },
            yAxis: {
                min: 0,
                title: {
                    text: null
                },
                labels: {
                    overflow: 'justify'
                }
            },
            tooltip: {
                valueSuffix: ''
            },
            legend: {
                enabled: false
            },
            plotOptions: {
                bar: {
                    dataLabels: {
                        enabled: true,
                        inside: true,
                        align: 'right',
                        color: '#FFFFFF',
                        style: {
                            fontWeight:'bold'
                        }
                    }
                }
            },
            credits: {
                enabled: false
            },
            series: [{
                name: 'Overall',
                data: [{{ lifetime_stats['Total Listening Sessions (Including Bounced)'] - lifetime_stats['Total Bounced (Listened for under 1 minute)'] }}, {{ lifetime_stats['Total Unique Listeners'] }}]
            }]
        });

    $('#chart_current_sessions').highcharts({
    
            chart: {
                type: 'gauge',
                plotBackgroundColor: null,
                plotBackgroundImage: null,
                plotBorderWidth: 0,
                plotShadow: false,
                animation: Highcharts.svg,
                events: {
                    load: function() {
                        // set up the updating of the chart
                        var series = this.series[0],
                            point = series.points[0],
                            newVal;
                        setInterval(function() {
                            $.ajax($SCRIPT_ROOT + '/_getCurrentSessionsTotal')
                             .done(function (result) {
                                //alert("success");
                                newVal = result["Total"];
                                point.update(newVal);
                              })
                             .fail(function (result) {
                                //alert("error " + result + " " + textStatus);
                                console.log("Current Sessions Total - Failing Gracefully: " + result)
                              })
                        }, 60000);
                    }
                }
            },
            
            title: {
                text: 'Current Listeners'
            },
            
            pane: {
                startAngle: -150,
                endAngle: 150,
                background: [{
                    backgroundColor: {
                        linearGradient: { x1: 0, y1: 0, x2: 0, y2: 1 },
                        stops: [
                            [0, '#FFF'],
                            [1, '#333']
                        ]
                    },
                    borderWidth: 0,
                    outerRadius: '109%'
                }, {
                    backgroundColor: {
                        linearGradient: { x1: 0, y1: 0, x2: 0, y2: 1 },
                        stops: [
                            [0, '#333'],
                            [1, '#FFF']
                        ]
                    },
                    borderWidth: 1,
                    outerRadius: '107%'
                }, {
                    // default background
                }, {
                    backgroundColor: '#DDD',
                    borderWidth: 0,
                    outerRadius: '105%',
                    innerRadius: '103%'
                }]
            },
               
            // the value axis
            yAxis: {
                min: 0,
                max: 50,
                
                minorTickInterval: 'auto',
                minorTickWidth: 1,
                minorTickLength: 8,
                minorTickPosition: 'inside',
                minorTickColor: '#666',
        
                tickPixelInterval: 50,
                tickWidth: 2,
                tickPosition: 'inside',
                tickLength: 15,
                tickColor: '#666',
                labels: {
                    step: 2,
                    rotation: 'auto'
                },
                title: {
                    text: 'Listening<br \>Sessions'
                },
                plotBands: [{
                    from: 0,
                    to: 25,
                    color: '#55BF3B' // green
                }, {
                    from: 25,
                    to: 37,
                    color: '#DDDF0D' // yellow
                }, {
                    from: 37,
                    to: 50,
                    color: '#DF5353' // red
                }]        
            },
        
            series: [{
                name: 'Sessions',
                data: [{{ lifetime_stats['Total Current Sessions'] }}],
                tooltip: {
                    valueSuffix: ' listeners'
                }
            }]
        
        });

});

$(function () {
        var dl = {{ last_thirty_mins["date_list"]|safe }};

        var chart_recent_total_listeners = new Highcharts.Chart({
            chart: {
                type: 'areaspline',
                renderTo: 'chart_recent_total_listeners',
                events: {
                    load: function() {
                        // set up the updating of the chart
                        var highQualitySeries = this.series[0],
                            lowQualitySeries = this.series[1];
                        setInterval(function() {
                            $.ajax($SCRIPT_ROOT + '/_getCurrentSessionsTotal')
                             .done(function (result) {
                                //alert("success");
                                var high = result["128K Shoutcast Server"],
                                    low = result["56K Shoutcast Server"],
                                    newDate = result["Date"];

                                highQualitySeries.addPoint([newDate, high], false, true);
                                lowQualitySeries.addPoint([newDate, low], false, true);

                                dates = chart_recent_total_listeners.xAxis[0].categories;

                                // Do final updates...
                                dates.push(newDate);
                                chart_recent_total_listeners.xAxis[0].setCategories(dates, false);

                                // Redraw the chart...
                                chart_recent_total_listeners.redraw();
                              })
                             .fail(function (result) {
                                console.log("Recent Total Listeners Area Graph - Failing Gracefully: " + result)
                              })
                        }, 60000);
                    }
                }
            },
            title: {
                text: 'Total Listeners'
            },
            subtitle: {
                text: 'Last {{ last_thirty_mins["56K Shoutcast Server"]|length }} Minutes'
            },
            xAxis: {
                type: 'category',
                categories: dl,
                title: {
                    enabled: false
                },
                tickmarkPlacement: "on",
                startOnTick: true,
                endOnTick: true
            },
            yAxis: {
                title: {
                    text: 'Listeners'
                },
                labels: {
                    formatter: function() {
                        return this.value;
                    }
                }
            },
            tooltip: {
                shared: true,
                valueSuffix: ' listeners'
            },
            plotOptions: {
                areaspline: {
                    lineColor: '#666666',
                    lineWidth: 3,
                    marker: {
                        lineWidth: 1,
                        lineColor: '#666666'
                    },
                    shadow: true
                },
            },
            series: [{
                stacking: 'normal',
                name: '128K Current Listeners',
                data: {{ last_thirty_mins["128K Shoutcast Server"] }},
                lineWidth: 3,
                color: '#9ABD4B'
            }, {
                stacking: 'normal',
                name: '56K Current Listeners',
                data: {{ last_thirty_mins["56K Shoutcast Server"] }},
                lineWidth: 3,
                color: '#000000'
            }]
        });
    });


$(function () {
        var dl = {{ last_twenty_four_hours["date_list"]|safe }};

        var chart_last24hours_total_listeners = new Highcharts.Chart({
            chart: {
                type: 'column',
                renderTo: 'chart_last24hours_total_listeners',
                events: {
                    load: function() {
                        // set up the updating of the chart
                        var highQualitySeries = this.series[0],
                            lowQualitySeries = this.series[1],
                            axis = this.xAxis,
                            categories = axis[0].categories;
                        setInterval(function() {
                            $.ajax($SCRIPT_ROOT + '/_getListeningSessionsForThisHour')
                             .done(function (result) {
                                //alert("success");
                                var high = result["128K Shoutcast Server"],
                                    low = result["56K Shoutcast Server"],
                                    currentHour = result["Hour"];

                                // Do final updates...
                                if (categories.slice(-1)[0] == currentHour) {
                                    highQualitySeries.points[23].update(high, false, false);
                                    lowQualitySeries.points[23].update(low, false, false);
                                } else {
                                    highQualitySeries.addPoint(high, false, true);
                                    lowQualitySeries.addPoint(low, false, true);

                                    hours = chart_last24hours_total_listeners.xAxis[0].categories;

                                    // Do final updates...
                                    hours.push(currentHour);
                                    chart_last24hours_total_listeners.xAxis[0].setCategories(hours, false);
                                }

                                // Redraw the chart...
                                chart_last24hours_total_listeners.redraw();
                              })
                             .fail(function (result) {
                                console.log("Listeners 24 Hours Column Graph - Failing Gracefully: " + result)
                              })
                        }, 60000);
                    }
                }            
            },
            title: {
                text: 'Total Listeners'
            },
            subtitle: {
                text: 'Last {{ last_twenty_four_hours["56K Shoutcast Server"]|length }} Hours'
            },
            xAxis: {
                type: 'category',
                categories: dl,
                title: {
                    text: 'Hours'
                },
                title: {
                    enabled: true
                }
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Listeners'
                },
                stackLabels: {
                    enabled: true,
                    style: {
                        fontWeight: 'bold',
                        color: (Highcharts.theme && Highcharts.theme.textColor) || 'gray'
                    }
                }
            },
            legend: {
                align: 'right',
                x: -100,
                verticalAlign: 'top',
                y: 40,
                floating: true,
                backgroundColor: (Highcharts.theme && Highcharts.theme.legendBackgroundColorSolid) || 'white',
                borderColor: '#CCC',
                borderWidth: 1,
                shadow: false
            },
            tooltip: {
                shared: true,
                valueSuffix: ' listeners'
            },
            plotOptions: {
                column: {
                    stacking: 'normal',
                    dataLabels: {
                        enabled: true,
                        color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'white'
                    }
                }
            },
            series: [{
                name: '128K Current Listeners',
                data: {{ last_twenty_four_hours["128K Shoutcast Server"] }},
                color: '#9ABD4B'
            }, {
                name: '56K Current Listeners',
                data: {{ last_twenty_four_hours["56K Shoutcast Server"] }},
                color: '#000000'
            }]
        });
    });


$(function () {
        var dl = {{ last_seven_days["date_list"]|safe }};

        var chart_last7days_total_listeners = new Highcharts.Chart({
            chart: {
                type: 'column',
                renderTo: 'chart_last7days_total_listeners',
                events: {
                    load: function() {
                        // set up the updating of the chart
                        var highQualitySeries = this.series[0],
                            lowQualitySeries = this.series[1],
                            axis = this.xAxis,
                            categories = axis[0].categories;
                        setInterval(function() {
                            $.ajax($SCRIPT_ROOT + '/_getListeningSessionsForToday')
                             .done(function (result) {
                                //alert("success");
                                var high = result["128K Shoutcast Server"],
                                    low = result["56K Shoutcast Server"],
                                    currentDay = result["Day"];

                                // Do final updates...
                                if (categories.slice(-1)[0] == currentDay) {
                                    highQualitySeries.points[6].update(high, false, false);
                                    lowQualitySeries.points[6].update(low, false, false);
                                } else {
                                    highQualitySeries.addPoint(high, false, true);
                                    lowQualitySeries.addPoint(low, false, true);

                                    days = chart_last7days_total_listeners.xAxis[0].categories;

                                    // Do final updates...
                                    days.push(currentDay);
                                    chart_last7days_total_listeners.xAxis[0].setCategories(days, false);
                                }

                                // Redraw the chart...
                                chart_last7days_total_listeners.redraw();

                                //console.log("Day: " + currentDay + " High: " + high + " Low: " + low)
                              })
                             .fail(function (result) {
                                console.log("Listeners 7 Days Column Graph - Failing Gracefully: " + result)
                              })
                        }, 60000);
                    }
                }
            },
            title: {
                text: 'Total Listeners'
            },
            subtitle: {
                text: 'Last {{ last_seven_days["56K Shoutcast Server"]|length }} Days'
            },
            xAxis: {
                type: 'category',
                categories: dl,
                title: {
                    text: 'Days'
                },
                title: {
                    enabled: true
                }
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Listeners'
                },
                stackLabels: {
                    enabled: true,
                    style: {
                        fontWeight: 'bold',
                        color: (Highcharts.theme && Highcharts.theme.textColor) || 'gray'
                    }
                }
            },
            legend: {
                align: 'right',
                x: -100,
                verticalAlign: 'top',
                y: 40,
                floating: true,
                backgroundColor: (Highcharts.theme && Highcharts.theme.legendBackgroundColorSolid) || 'white',
                borderColor: '#CCC',
                borderWidth: 1,
                shadow: false
            },
            tooltip: {
                shared: true,
                valueSuffix: ' listeners'
            },
            plotOptions: {
                column: {
                    stacking: 'normal',
                    dataLabels: {
                        enabled: true,
                        color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'white'
                    }
                }
            },
            series: [{
                name: '128K Current Listeners',
                data: {{ last_seven_days["128K Shoutcast Server"] }},
                color: '#9ABD4B'
            }, {
                name: '56K Current Listeners',
                data: {{ last_seven_days["56K Shoutcast Server"] }},
                color: '#000000'
            }]
        });
    });
        </script>        
    </body>
</html>
