{% extends "base.html" %}
{% block title %}{{ title }} - Youth Radio Central{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block left_status %}{{ title }}{% endblock %}
{% block right_status %}Welcome, {{ user.name }}{% endblock %}
{% block page_content %}
        <h1>{{ title }}</h1>
        <div id="form_container">
            <form action="{{ request.path }}" method="post" name="add_person">
                {{ form.hidden_tag() }}
                <p>
                    <span class="styled-select">
                        {{ form.person_type() }}
                    </span>
                </p>
                <hr />
                <p>
                    {{ form.first_name(size=15, placeholder="First Name") }} 
                    {{ form.middle_initial(size=1, placeholder="M.I.") }} 
                    {{ form.last_name(size=15, placeholder="Last Name") }}
                </p>
                <p>
                    <span class="styled-select">
                        {{ form.gender() }}
                    </span>&nbsp;&nbsp;&nbsp;&nbsp;
                    {{ form.dob(size=8, placeholder="Date of Birth") }}
                    <span class="explain">(ex: 12/12/99)</span>
                </p>
                <p>
                    {{ form.email(size=20, placeholder="Email Address") }}
                    <span class="explain">(It must be @youthradio.org)</span>
                </p>
                <p>
                    {{ form.phone_home(size=10, placeholder="Home Phone") }} 
                    {{ form.phone_cell(size=10, placeholder="Cell Phone") }}
                    <span class="explain">(ex: 510-251-1101)</span>
                </p>
                <p>
                    {{ form.title(size=23, placeholder="Job Title") }}
                    <span class="styled-select">
                        {{ form.department() }}
                    </span>
                </p>
                <p>
                    <span class="styled-select">
                        {{ form.supervisor() }}
                    </span>
                </p>
                <p>
                    {{ form.extension(size=5, placeholder="Extension") }}
                    <span class="explain">(ex: 301)</span>
                </p>
                <hr />
                <p>
                    {{ form.street_address_1(size=20, placeholder="Street Address 1") }}
                </p>
                <p>
                    {{ form.street_address_2(size=20, placeholder="Street Address 2") }}
                </p>
                <p>
                    {{ form.city(size=20, placeholder="City") }}
                    <span class="styled-select">
                        {{ form.state() }}
                    </span>
                </p>
                <p>
                    {{ form.zipcode(size=20, placeholder="Zip Code") }}
                </p>
                <hr />
                <p>
                    {{ form.emergency_contact_relationship(size=26, placeholder="Relationship to Emergency Contact") }}
                    <span class="explain">(ex: Mother, Husband, etc)</span>
                </p>
                <p>
                    {{ form.emergency_contact_name(size=26, placeholder="Full Name of Emergency Contact") }}
                </p>
                <p>
                    {{ form.emergency_contact_address(size=45, placeholder="Full Address of Emergency Contact") }}
                </p>
                <p>
                    {{ form.emergency_contact_phone_home(size=10, placeholder="Home Phone") }} 
                    {{ form.emergency_contact_phone_cell(size=10, placeholder="Cell Phone") }}
                    <span class="explain">(ex: 510-251-1101)</span>
                </p>
                <p>{{ form.submit()}}</p>
                {% if title == 'Edit Person' %}
                {{ form.person_id }}
                {% endif %}
            </form>
        </div>
{% endblock %}
{% block page_bottom %}
{{ super() }}

{% endblock %}
