<!doctype html>
	<head>
	 <title> Newsroom Daily List </title>
  {% if preview -%}
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="{{ js("vendor/jquery-1.10.2.min.js") }}"><\/script>')</script>
  {%- endif %}
	
	</head>

	<body style= "background-color:#E8E8E8;">

	{%
		set dl_border_color = "#E8E8E8"
		set dl_section_bg_color = "#3ebec0"
		set dl_header_font_color = "#3ebec0"
	%}
		<form action='{{ url_for("newsroom_dailylist_submit") }}' id="dailyList" method="post">

		<table style="background-color:#FFFFFF; border:5px solid {{ dl_border_color }};border-collapse:collapse;" 
		width="600px" >
		<tr>
			<td colspan="2">
				<p> <strong> {{ current_date }} </strong> </p>
				<p> Daily List </p>
				{% if preview -%}
                <input type="submit" value="Send to News Room" />
                {%- endif %}
			</td>
		</tr>"
		"		
		<tr valign="top" >
			<td style= "border:5px solid {{ dl_border_color }};border-collapse:collapse;">
				<p  style= "background:{{ dl_section_bg_color }} ; color: #FFFFFF; width:100%; height:30px; border:3px ; position: relative; top: -16px; "> Daily Roundup </p>
				<p style="color: {{ dl_header_font_color }}"> Youth Radio</p>
				<p> {{ form['yr']|safe }} </p>
				<p style="color: {{ dl_header_font_color }}"> Player </p>
				<p> {{ form['player']|safe }} </p>
				<p style="color: {{ dl_header_font_color }}"> Podcast </p>
				<p> {{ form['YRP']|safe }} </p>
				<p style="color: {{ dl_header_font_color }}"> Turnstyle News</p>
				<p> {{ form['tn']|safe }} </p>
				<p style="color: {{ dl_header_font_color }}"> All Day Play</p>
				<p> {{ form['adp']|safe }} </p>
				<p style="color: {{ dl_header_font_color }}"> Huffington Post </p>
				<p> {{ form['HP']|safe }} </p>
				<p style="color: {{ dl_header_font_color }}"> Social Media </p>
				<p> {{ form['SM']|safe }} </p>
			<"/td">

			<td style= "border:3px solid {{ dl_border_color }};border-collapse:collapse;">
				<p  style= "background:{{ dl_section_bg_color }} ; color: #FFFFFF; width:100%; height:30px; border:3px ; position: relative; top: -16px; "> Announcements </p>
				<p> {{ form['ann']|safe }} </p>
				<p  style= "background:{{ dl_section_bg_color }} ; color: #FFFFFF; width:100%; height:30px; border:3px ; position: relative; top: -16px; "> In the News </p>
				 {% set deleteImageSrcText = '<img class="dImg" src="' + img('delete.png') + '">' %}
              {{ form['news']|replace(deleteImageSrcText, '')|safe }} 
			</td>
		</tr>


		<tr>
			<td style= "border:3px solid #FFFFFF;border-collapse:collapse;" colspan="2">
				<p  style= "background:{{ dl_section_bg_color }} ; color: #FFFFFF; width:100%; height:30px; border:3px ; position: relative; top: -16px; "> Assignments </p>
				<p> Newsroom </p>
				<p> {{ form['Nr']|safe }} </p>
			</td>
		</tr>


		<tr>
			<td>
				<p> Brett </p>
				<p> {{ form['bm']|safe }} </p>
			</td>

			<td>
				<p>Denise</p>
				<p> {{ form['dt']|safe }} </p>
			</td>
		</tr>

		<tr>
			<td>
				<p>Robyn </p>
				<p> {{ form['rg']|safe }}  </p>
			</td>

			<td>
				<p>Ike </p>
				<p> {{ form['is']|safe }} </p>
			</td>
		</tr>

		<tr>
			<td>
				<p>Nishat </p>
				<p> {{ form['nk']|safe }}  </p>
			</td>

			<td>

				<p>Noah</p>
				<p> {{ form['nn']|safe }}  </p>
			</td>
		</tr>

		<tr>
			<td>
				<p>Teresa </p>
				<p> {{ form['tc']|safe }}  </p>
			</td>

			<td>
				<p>Chaz</p>
				<p> {{ form['ch']|safe }}  </p>
			</td>
		</tr>

		<tr>
			<td>
				<p>Ellin </p>
				<p> {{ form['eol']|safe }}  </p>
			</td>

			<td>
				<p>Rebecca </p>
				<p> {{ form['rm']|safe }}  </p>
			</td>
		</tr>

		<tr>
			<td>
				<p>Lissa </p>
				<p> {{ form['ls']|safe }}  </p>
			</td>

			<td>
				<p> Asha </p>
				<p> {{ form['ar']|safe }}  </p>
			</td>

		<tr>
			<td>
				<p> Kurt </p>
				<p> {{ form['kc']|safe }}  </p>
			</td>

			<td>
				<p> Brandon</p>
				<p> {{ form['bmf']|safe }}  </p>
			</td>
		</tr>
		
		</tr>

		<tr>
			<td>
				<p> Interns </p>
				<p> {{ form['interns']|safe }}  </p>
			</td>

			<td>
				<p> Other</p>
				<p> {{ form['other']|safe }}  </p>
			</td>
		</tr>
		</table>
		
		 {% for key, value in form.iteritems() %}
        <input type="hidden" name="{{ key }}" value="{{ value }}"> 
        {% endfor %}

	</body>
</html>
